*{
	box-sizing: border-box;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Roboto Condensed', sans-serif;
	background:#F5F5F5;
	background-size:cover;
	
}

.ProfileAndContacts, .profile-card, .container, .calc-photo{
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}


body p{
	font-family: 'Ubuntu', sans-serif;
	font-size:1.5rem;
	letter-spacing: 0.155rem;
	
}
body h2{
	font-family: 'Ubuntu', sans-serif;
	font-size:2rem;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem
}

.aboutMe{
	padding:3%;
}

body h1{
	font-family: 'Roboto Condensed', sans-serif;
	font-size:2.5rem
}

.profile-card{
	max-width: calc(100vw - 15%);
}

.ProfileAndContacts, .myName{
	text-align: center;
}

.nameAndBio, .calc-photo{
	margin:0 auto;
	width:100%;
}

.pr-picture{
	height:150px;
	border-radius: 50%;
	margin-top: -10%;
	border: 3px solid white;
}

li{
	display: inline;
}

.link{
	margin-left: 2rem;
	margin-right: 2rem;
	color:black;
}


.pr-picture{
	margin-bottom: 5%;
}

.social-links{
	padding-bottom: 7%;
}


.container{
	background-color:black;
}


.social-links{
	background: linear-gradient(to top right, #ffffff 0%, #0066ff 83%);
}

.nameAndBio{
	background-color:white;
}



